<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psalmeron.hack">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hack Challenge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.FaceDetect"
            android:label="Servicio de satisfacción"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".menus.Divisas"
            android:label="Compra de divisas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.operaciones.EnvioDirigido"
            android:label="Envío Dirigido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MenuCompleto"
            android:label="Acceso digital"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Registro"
            android:label="Registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Login"
            android:label="Inicio de sesión"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:label="Hack Challenge"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>